@use "@angular/material" as mat;

// Customize the entire app. Change :root to your selector if you want to scope the styles.
.fast-end {
  @include mat.icon-overrides(
    (
      color: var(--mat-sys-primary),
    )
  );
}

.team-points {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.complete-game-section {
  margin-top: 1rem;
  display: flex;
  justify-content: flex-end;
}

.button-disabled {
  opacity: 0.5;
}
