<mat-stepper orientation="vertical" #stepper>
  @if (runningGame(); as game) {
    @for (round of game.roundsToPlay; track $index) {
      <mat-step>
        <ng-template matStepLabel>Runde {{ $index + 1 }}</ng-template>
        <strong>Team 1</strong>
        <div class="team-points">
          <app-counter
            [ngModel]="getRoundPoints($index, 'team1')"
            (ngModelChange)="updateRoundPoints($index, 'team1', $event)"
            [minNumber]="0"
          />
          @if (runningGame()?.usePointLimit) {
            <div class="fast-end">
              <button
                mat-icon-button
                (click)="
                  updateRoundPoints($index, 'team1', runningGame()?.points ?? 0)
                "
              >
                <mat-icon fontIcon="celebration"></mat-icon>
              </button>
            </div>
          }
        </div>
        <mat-divider></mat-divider>
        <strong>Team 2</strong>
        <div class="team-points">
          <app-counter
            [ngModel]="getRoundPoints($index, 'team2')"
            (ngModelChange)="updateRoundPoints($index, 'team2', $event)"
            [minNumber]="0"
          />
          @if (runningGame()?.usePointLimit) {
            <div class="fast-end">
              <button
                mat-icon-button
                (click)="
                  updateRoundPoints($index, 'team2', runningGame()?.points ?? 0)
                "
              >
                <mat-icon fontIcon="celebration"></mat-icon>
              </button>
            </div>
          }
        </div>

        @if ($last) {
          <div class="complete-game-section">
            <button matButton="filled" (click)="completeGame()">
              Spiel abschließen
            </button>
          </div>
        }
      </mat-step>
    }
  }
</mat-stepper>
