@if (sortedGames().length > 0) {
  <mat-accordion>
    @for (game of sortedGames(); track game.id) {
      @let gameItem = game.game;
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{ formatDate(game.completedAt) }}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div>
          Gewinner: <strong>{{ getWinnerNames(gameItem) }}</strong>
        </div>
        <div>Runden: {{ gameItem.rounds }}</div>
        <mat-divider></mat-divider>
        <div style="margin: 1rem 0">
          <strong>Team 1</strong>
          <div>{{ getWinnerNames(gameItem, 1) }}</div>
          <strong>Team 2</strong>
          <div>{{ getWinnerNames(gameItem, 2) }}</div>
        </div>

        <div class="delete-button-wrapper">
          <button matButton="filled" (click)="deleteEntry(game.id)">
            Löschen
          </button>
        </div>
      </mat-expansion-panel>
    }
  </mat-accordion>
} @else {
  <mat-card class="empty-state-card">
    <mat-card-content>
      <div class="empty-state">
        <mat-icon class="empty-icon">bar_chart</mat-icon>
        <h3>Keine vergangenen Spiele</h3>
        <p>Spiele ein Spiel, um Statistiken einsehen zu können</p>
      </div>
    </mat-card-content>
  </mat-card>
}
