@use "@angular/material" as mat;

:host {
  @include mat.button-overrides(
    (
      filled-container-color: var(--mat-sys-error),
    )
  );
}

.delete-button-wrapper {
  display: flex;
  justify-content: flex-end;
}
