<h2 mat-dialog-title>Neues Spiel starten</h2>
<mat-dialog-content>
  <div class="remove-tabs-header">
    <mat-tab-group
      [selectedIndex]="selected()"
      (selectedIndexChange)="selected.set($event)"
    >
      @for (tab of tabs; track tab; let index = $index) {
        <mat-tab [label]="tab">
          @if (index === 0) {
            <div class="rounds-input">
              <button
                matIconButton
                (click)="changeRounds(-1)"
                [disabled]="rounds() <= 1"
              >
                <mat-icon>remove</mat-icon>
              </button>
              <div style="font-size: 2rem">{{ rounds() }}</div>
              <button matIconButton (click)="changeRounds(1)">
                <mat-icon>add</mat-icon>
              </button>
            </div>
            <div>Anzahl Runden eintragen</div>
          }

          @if (index === 1) {
            <mat-accordion>
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title> Team 1 </mat-panel-title>
                </mat-expansion-panel-header>
                <div>
                  <mat-form-field class="example-full-width">
                    <mat-label>Spieler 1</mat-label>
                    <input matInput />
                  </mat-form-field>
                  <mat-form-field class="example-full-width">
                    <mat-label>Spieler 2</mat-label>
                    <input matInput />
                  </mat-form-field>
                </div>
              </mat-expansion-panel>
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title> Team 2</mat-panel-title>
                </mat-expansion-panel-header>
                <div>
                  <mat-form-field class="example-full-width">
                    <mat-label>Spieler 1</mat-label>
                    <input matInput />
                  </mat-form-field>
                  <mat-form-field class="example-full-width">
                    <mat-label>Spieler 2</mat-label>
                    <input matInput />
                  </mat-form-field>
                </div>
              </mat-expansion-panel>
            </mat-accordion>
          }
        </mat-tab>
      }
    </mat-tab-group>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  @if (selected() > 0) {
    <button matButton (click)="switchTab(-1)">Zurück</button>
  }
  <button matButton (click)="switchTab(1)">
    @if (selected() === tabs.length - 1) {
      Fertig
    } @else {
      Weiter
    }
  </button>
</mat-dialog-actions>
